# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

config SHIELD_SOFLE_XIAO_LEFT
    def_bool $(shields_list_contains,sofle_xiao_left)

config SHIELD_SOFLE_XIAO_RIGHT
    def_bool $(shields_list_contains,sofle_xiao_right)
